<div class="container">
  <div class="row">
    <div class="col s12 center-align">
      <button 
        class="btn" 
        [ngClass]="{'active': selectedType === 'fish'}" 
        (click)="loadList('fish')">Fish List
      </button>
      <button 
        class="btn" 
        [ngClass]="{'active': selectedType === 'bug'}" 
        (click)="loadList('bug')">Bug List
      </button>
      <button 
        class="btn" 
        [ngClass]="{'active': selectedType === 'sea'}" 
        (click)="loadList('sea')">Sea Creature List
      </button>
      <button 
        class="btn" 
        [ngClass]="{'active': selectedType === 'now'}" 
        (click)="loadList('now')">Catchable Now
      </button>
    </div>
    <div class="col s12">
      <div *ngFor="let catchable of catchableList" class="col s12 m6 l4">
        <div class="card horizontal">
          <div class="card-image">
            <img [src]="catchable.icon">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{ catchable.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
